/* sets universal box-sizing */
*, ::after, ::before {
    box-sizing: border-box;
  }

.search-container {
    /* margin-right: 60%; */
    background-color: #f8f9fa;
}

.forecast-1 {
    background-color: blue;
    color: #f8f9fa;
    border-radius: 4px;
}

.forecast-2 {
    background-color: blue;
    color: #f8f9fa;
    border-radius: 4px;
}

.forecast-3 {
    background-color: blue;
    color: #f8f9fa;
    border-radius: 4px;
}

.forecast-4 {
    background-color: blue;
    color: #f8f9fa;
    border-radius: 4px;
}

.forecast-5 {
    background-color: blue;
    color: #f8f9fa;
    border-radius: 4px;
}